body
{
	width: 1100px;
	height: 1100px;
	text-align: center;
	margin: 0 auto;
	background-image: url("/images/adminBG.png");
	background-repeat: no-repeat;
	background-position: center;
    -webkit-box-shadow: 3px 3px 10px #dddddd;
    box-shadow: 0px 3px 15px 2px #dddddd;
}

/* 头 */
header
{
  width: 100%;
  height: 120px;
  background-color: rgba(0,0,0,0.55);
}

header img
{
	float: left;
	margin-top: 12px;
	margin-left: 15px;
}

.loginState
{
	float: right;
	margin-top: 80px;
	margin-right: 40px;
}

.loginState span,.loginState a
{
   font-family: 微软雅黑;
   color: #fff;
   font-size: 14px;
   text-decoration: none;
}

/* 中间 */
.content
{
  height: 860px;
}



.left
{
	float: left;
	height: 100%;
    width: 240px;
    margin-left: 15px;
}

.right
{
	float: right;
	height: 835px;
	width: 800px;
	margin-top: 10px;
	margin-bottom: 10px;
    margin-right: 15px;
	box-shadow: 3px,3px,10px,5px,#fff;
	background-color: rgba(255,255,255,0.4);
	text-align: center;
}

.left>ul
{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100%;
	padding: 0;

}
.left>ul>li
{
	list-style: none;
	width: 100%;
	height: 110px;
	background-color: rgba(0,0,0,0.20);
	border:solid 1px #fff;
	box-shadow: 3px,3px,10px,5px,#fff;
	border-radius: 5px;
	padding-top: 90px;
	margin-bottom: 10px;
}

.left>ul>li:hover
{
	background-color: rgba(0,0,0,0.50);
}

.left>ul>li>a
{
	text-decoration: none;
	color: #fff;
	font-family: 幼圆;
	font-size: 20px;

}
/* 页脚 */
footer
{
  width: 100%;
  height: 90px;
  background-color: rgba(0,0,0,0.55);
  padding-top: 30px;
}

footer>span
{
	font-family: 微软雅黑;
	font-size:14px;
	color: #fff;
	margin-top: 20px;
}

iframe
{
	height:100%;
	width:100%;
	
}

/*列表*/
table
{
	margin:0 auto;
}

